body {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    background-image: url(assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: hsl(275, 100%, 97%);
}

.sub-body {
    background-color: white;
    margin: 20px;
    margin-top: 130px;
    border-radius: 10px;
    margin-bottom: 130px;
}

.star {
    width: 8%;
}

.secs {
    border-bottom: 1px solid rgb(235, 235, 235);
}

#last {
    border-bottom: 0;
}

h6 {
    padding-right: 15px !important; 
}    

h6:hover {
    cursor: pointer;
    color: hsl(292, 16%, 49%);
}

p {
    display: none;
    font-size: 16px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 650px) {
    body {
        background-image: url(assets/images/background-pattern-desktop.svg);
    }

    .sub-body {
        max-width: 500px;
        min-width: 500px;
        margin: auto !important;
        margin-bottom: 130px !important;
        margin-top: 130px !important;

    }

    .head {
        font-size: 45px;
    }

    .star {
        width: auto;
    }
}