body {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    background-image: url(assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: hsl(275, 100%, 97%);
}

.sub-body {
    background-color: white;
    margin: 20px;
    margin-top: 130px;
    border-radius: 10px;
}

.star {
    width: 8%;
}

.secs {
    border-bottom: 1px solid hsl(0, 0%, 92%);
}

h6 {
    padding-right: 15px !important; 
}

p {
    display: none;
    font-size: 16px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}